form,
label {
    display: flex;
    flex-direction: column;
}

form {
    border: 2px solid var(--red-primary);
    padding: 28px;
    border-radius: 8px;
}

.btn {
    text-transform: uppercase;
    padding: 10px 20px;
    font-family: var(--font);
    font-weight: 700;
    letter-spacing: 1px;
    border: 0px;
    border-radius: 3px;
    box-shadow: 0 3px 14px rgba(50, 50, 93, 0.1);
    transition: all 0.1s linear;
    font-size: 12px;
    outline: none;
    margin-top: 12px;
}

.btn:hover,
.btn:hover {
    background-color: var(--red-primary);
}

.btn {
    color: white;
    background-color: var(--idle);
}

.btn:hover {
    transform: translateY(-2px);
    background: var(--active);
    box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
}

.btn:active {
    transform: translateY(0px);
    background: var(--idle);
}

.label1 {
    margin-bottom: 16px;
}

.input {
    padding: 10px 15px;
    border: 1px solid var(--red-primary);
    border-radius: 4px;
    font-family: "Montserrat",
        sans-serif;
}