.item {
    list-style: circle;
    display: flex;
    align-items: center;
    font-family: "Montserrat",
        sans-serif;
    font-size: 14px;
}

.bin {
    fill: var(--red-primary);
    width: 24px;
    height: 24px;
}

.btn {
    border: none;
    background: none;
    margin-left: 8px;
}

.btn:hover {
    background-color: transparent;
    transform: translateY(-2px);
}

.btn:hover .bin {
    box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1),
        0 3px 6px rgba(0, 0, 0, 0.08);
}

.btn:active {
    background-color: transparent;
    transform: translateY(0px);
}